                                               Data Mining
                                            Lab Assignment - 8

                                                                                           P. Jaswanth roy
                                                                                           AP19110010524
                                                                                           CSE - H

In [1]:
import numpy as np 
import pandas as pd
import random
from scipy.spatial import distance

In [3]:
df=pd.read_csv("Mall_Customers.csv")
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   15                  19                      39
1           2    Male   20                  16                      85
2           3  Female   21                  15                       5
3           4  Female   23                  16                      66
4           5  Female   31                  21                      41

In [4]:
i=random.randint(0,5)
j=random.randint(6,10)
p1=(df['Age'][i],df['Annual Income (k$)'][i],df['Spending Score (1-100)'][i])
p2=(df['Age'][j],df['Annual Income (k$)'][j],df['Spending Score (1-100)'][j])
p1,p2

((23, 16, 66), (30, 19, 72))

1. Euclidean distance:

It is the shortest distance between two points. Many ML algorithms use this distance metric to observe the similarities bitween two pionts. If the distance between two points is less then they are closely related orelse no.

In [5]:
E_d=distance.euclidean(p1,p2)
print("Euclidean distance between ",p1," and",p2," is ",E_d)

Euclidean distance between  (23, 16, 66)  and (30, 19, 72)  is  9.695359714832659

2. Manhattan Distance:

 Manhattan Distance is the sum of absolute differences between points across all the dimensions.

In [6]:
M_d=distance.cityblock(p1,p2)
print("Manhattan distance between ",p1," and",p2," is ",M_d)

Manhattan distance between  (23, 16, 66)  and (30, 19, 72)  is  16

3. Minkowski Distance :

Minkowski Distance is the generalized form of Euclidean and Manhattan Distance.

In [7]:
Min_d=distance.minkowski(p1,p2)
print("Minkowski distance between ",p1," and",p2," is ",Min_d)

Minkowski distance between  (23, 16, 66)  and (30, 19, 72)  is  9.695359714832659

4. Hamming Distance :

Hamming Distance measures the similarity between two strings of the same length. The Hamming Distance between two strings of the same length is the number of positions at which the corresponding characters are different.

In [8]:
H_d=distance.hamming(p1,p2)
print("Hamming distance between ",p1," and",p2," is ",H_d)

Hamming distance between  (23, 16, 66)  and (30, 19, 72)  is  1.0